.cart-page {
  padding: 20px;
}

.cart-list {
  list-style: none;
  padding: 0;
}

.cart-list li {
  background: #ffe5d0;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.cart-list button {
  background: #ff4500;
  color: white;
  border: none;
  padding: 4px 10px;
  border-radius: 5px;
  cursor: pointer;
}
